@import url('href="https://fonts.googleapis.com/css?family=spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan', sans-serif;
}
body{
    width: 100%;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: black;
}

h2{
    font-size: 40px;
    line-height: 48px;
    color: black;
}

h4{
    font-size: 20px;
    color: black;
}

h6{
    font-size: 12px;
    font-weight: 700;
}

p{
    font-size: 16px;
    color: black;
    margin: 15px 0 20px 0;

    /*header_page_start*/
}
.logo{
    height: 50px;
    width: 80px;
    object-fit: cover;
    cursor: pointer;
    
    
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: rgb(162, 198, 214);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
     
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: #461f93;
    
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: '';
    width: 30%;
    height: 2px;
    background: #461f93;
    position: absolute;
    bottom: -2px;
    left: 20px;

}

/*header_page_end*/

/*home_page_start*/

#hero{
    
    background-color: rgb(162, 198, 214);
    background-position: top 25px right 0;
    height: 100vh;
    width: 100%;
    padding: 0px 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 120px;
    
}

#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: #461f93;

}

.back_img{
    height: auto;
    width: 60%;
    object-fit: contain;
    position: absolute;
    top: 40px;
    right: 50px;
    display: flex;

    
}
.btn{
    padding: 10px 20px;
    background-color: #461f93;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease;
}
.btn:hover{
    background-color: #1a1a1a;
}

#hero p{
    text-decoration: underline;
}


/* fetures shipping */







.feture_shipping{
    padding: 40px 80px;
}

#feture{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}
#feture .fe-box{
    width: 150px;
    text-align: center;
    padding: 10px 15px;
    box-shadow:  20px 20px 30px rgba(0, 0, 0, 0.1);
    border: 0.5px solid #11a7e2;
    border-radius: 10px;
    margin: 15px 0; 
}
#feture .fe-box img{
    height: 80px;
    width: 80%;
    object-fit: cover;
    margin-bottom: 10px;

}
#feture .fe-box:hover{
    box-shadow:  10px 10px 50px rgba(20, 20, 20, 0.1);

}

#feture .fe-box h6{
    padding: 9px 8px 8px 8px;
    background-color: #69e0ed;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-block;

}

#feture .fe-box:nth-child(2) h6{
    background-color: #3eacfa;
}
#feture .fe-box:nth-child(3) h6{
    background-color: #e94b85;
}
#feture .fe-box:nth-child(4) h6{
    background-color: #e75fdb;
}
#feture .fe-box:nth-child(5) h6{
    background-color: #8486f1;
}
#feture .fe-box:nth-child(6) h6{
    background-color: #3eacfa;
}






